.quizWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

.top {
    height: 60%;
    display: flex;
    align-items: center;

}

.top img {
    width: 20rem;
}

.bottom {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.answers {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.answer {
    width: 40%;
    background: rgba(189, 195, 199,0.1);
    padding: 1.5rem;
    border-radius: 5px;
    color: #EAEAEA;
    text-align: center;
    border:rgba(189, 195, 199, 0.8) 1px solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.answer:hover {
    background: rgba(189, 195, 199,0.3);
}